.form-group{
	max-width: 500px;
	padding: 10px 20px;
	background: #f4f7f8;
	margin: 10px auto;
	padding: 20px;
	background: #f4f7f8;
	border-radius: 8px;
	font-family: Georgia, "Times New Roman", Times, serif;
}
.form-group label {
	display: block;
	margin-bottom: 8px;
}

.form-group input[type="submit"]:hover
{
	background: #109177;
}
.selector-for-some-widget {
	box-sizing: content-box;
  }