/* Global Layout Set-up */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: #222;
  background: #212d37;
  background-image: url("/static/addpatient/images/form-wizard-bg2.jpg");
  background-repeat: no-repeat;
  background-color: #555;
  background-blend-mode: darken;
  background-size: cover;
}
/* Link Styles */
a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #fff;
}

/* Section Styles */

.main-nav {
  width: 100%;
  background: #1c262f;
  min-height: 20px;
  padding-top: 10px;
  position: fixed;
  text-align: center;
}
.nav {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.nav .name {
  display: block;
  margin-right: auto;
  color: white;
  font-size: 25px;
}
.nav li {
  padding: 5px 10px 10px 10px;
}
.nav a {
  transition: all 0.5s;
  font-size: 15px;
}
.nav a:hover {
  color: white;
}

header {
  text-align: center;
  background: url("images/retroland.jpg") no-repeat top center;
  background-size: cover;
  overflow: hidden;
  padding-top: 60px;
}
header {
  line-height: 1.5;
}
header .profile-image {
  width: 200px;
  height: 200px;
  border-radius: 60%;
  transition: all 0.5s;
  margin-top: 50px;
  object-fit: cover;
  border: 6px solid #0e9;
}
header .profile-image:hover {
  transform: rotate(360deg);
}
.tag {
  background-color: #efefef;
  color: black;
  padding: 10px;
  border-radius: 5px;
  display: table;
  margin: 10px auto;
}

.location {
  background-color: #222;
}
.card {
  margin-top: 30px;
  padding: 20px 40px;
  max-width: 500px;
  text-align: center;
  display: inline-block;
  background: #fff;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
  transition: all 0.5s;
}

h2 {
  text-align: center;
}

ul.skills {
  padding: 0;
  text-align: center;
}

.skills li {
  border-radius: 6px;
  display: inline-block;
  background: purple;
  color: white;
  padding: 10px;
  margin: 4px;
}
.card {
  position: relative;
  width: 350px;
  z-index: -1;
  display: flexbox;
}

.code-design {
  width: 60px;
  position: absolute;
  top: -25px;
  right: -25px;
}

/* Styles for larger screens */
@media screen and (min-width: 720px) {
  .flex {
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: flex;
    max-width: 1200px;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin: 0 auto;
  }

  header {
    min-height: 470px;
  }

  .nav {
    max-width: 1200px;
    padding: 0 30px;
  }

  main {
    padding-top: 20px;
  }

  main p {
    line-height: 1.6;
  }
}
