


<div class="modal fade" id="Modal-appointment-{{data[0][i]}}"
     tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabel">

          booking appointment

        </h5>
        <button type="button" class="close"
                data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        are you sure you want to reserve that appointment?
      </div>
      
      
      <form action="{{url_for('bookNow')}}" method="post">
        <div class="form-group">
          <label for="appNo" class="form-label">app no</label>
          <input type="text" class="form-control" id="appNo" name="appNo" value="{{data[0][i]}}" readonly>
        </div>
        
        <!-- name -->
        <div class="form-group">
          <label for="doctorName" class="form-label">doctor name</label>
          <input type="text" class="form-control" id="doctorName" name="doctorName" value="{{data[1][i]}}" readonly>
        </div>
        
        <!-- ssn -->
        <div class="form-group">
            <label for="startTime">start time</label>
            <input type="int" class="form-control" id="startTime" name="startTime" value="{{ data[2][i] }}" readonly>
        </div>
        
        <!-- sex -->
        <div>
          <label for="endTime">end time</label>
          <input type="text" class="form-control" id="endTime" name="endTime" value="{{data[3][i]}}" readonly>
      </div>
      <!-- email -->
        <div class="form-group">
            <label for="date">date</label>
            <input type="text" class="form-control" id="date" name="date" value="{{data[4][i].date()}}" readonly>
        </div>
        
        <button type="submit" class="btn btn-primary">book</button>
      </form>      
      
      <button type="button" class="btn btn-secondary"
      data-dismiss="modal">Close        
        </button>
      </div>
    </div>
  </div>
</div>

<!-- ----------------------------------------------------------------------------------------------------------------------------------------------- -->

<!-- Purchase Confirm -->

<div class="modal fade" id="Modal-refuse-{{data[0][0]}}"
     tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabel">
          Refusing doctor
        </h5>
        <button type="button" class="close"
                data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          Are you sure you want to refuse Dr.{{ data[0][0] }} ?
          with
          <form action="/adminViewDoctor" method="post">
            <!-- name -->
          <div class="form-group">
              <label for="Name" class="form-label">Name</label>
              <input type="text" class="form-control" id="nameref" name="nameref" value="{{data[0][0]}}">
          </div>
  
          <!-- ssn -->
          <div class="form-group">
              <label for="ssn">SSN</label>
              <input type="int" class="form-control" id="ssnref" name="ssnref" value="{{ data[0][0] }}" >
          </div>

          <button type="submit" class="btn btn-primary">refuse</button>

        </form>      
      </div>
      <div class="modal-footer">
 
</button>
        <button type="button" class="btn btn-secondary"
                data-dismiss="modal">Close
        </button>
      </div>
    </div>
  </div>
</div>

