<!DOCTYPE html>
<!-- Coding By CodingNepal - youtube.com/codingnepal -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Login</title>
    <link
      rel="stylesheet"
      href=" {{url_for('static',filename='css/login.css')}}"
    />
    <link
    rel="stylesheet"
    href="patient.css"
  />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="icon" href="static\assets\img\favicon.png" />
  </head>

  <body>
    <br><br><br>
    {% if emailCursorDoctorRequests %}
    <div class="alert alert-warning" role="alert">
      You have already sent a request stay tuned
    </div>
    {%endif%}

    {% if ssnCursorDoctorRequests %}
    <div class="alert alert-warning" role="alert">
      You have already sent a request stay tuned
    </div>
    {%endif%}

    {% if emailInvalid %}
    <div class="alert alert-warning" role="alert">
      the email you entered is invalid
    </div>
    {%endif%}

    {% if emailExisits %}
    <div class="alert alert-warning" role="alert">
      the email you entered already exisits
    </div>
    {%endif%}
    
    {% if ssnExisits %}
    <div class="alert alert-warning" role="alert">
      the ssn you entered already exisits
    </div>
    {%endif%}


    <div class="centerSignUp">
      <h1>Doctor Register</h1>
      <form  
      action="{{ url_for('adddoctor') }}"
      method="POST"
      enctype="multipart/form-data">
      <!-- name -->  

      <div class="txt_field">
          <input 
          type="text"
          id="name" 
          name="name"
          minlength="2"
          maxlength="255"
          placeholder="ex: Michael Hany Rofael"/>
          <span></span>
          <label for="Name">Name</label>
        </div>

      <!-- ssn -->
      <div class="txt_field">
        <input 
        type="int" inputmode="numeric" maxlength="14"
        placeholder="xxxxxxxxxxxxxx"
        id="ssn"
         name="ssn" />
        <span></span>
        <label for="Department">SSN</label>
      </div>

      phone number

      <div class="txt_field">
        <input 
        type="tel"  maxlength="11"
        placeholder="xxxxxxxxxxx"
         name="phone"
         id="phone" />
        <span></span>
        <label for="Department">Phone Number</label>
      </div>

    <!-- sex -->
      <div>
      <span></span>
      <select
        class="txt_field"
        aria-label="Default select example"
        name="sex">
        <option value="Male">Male</option>
        <option value="Female">Female</option>
      </select>
    </div>
    
    <!-- birth date -->
    <div class="txt_field">
      <input type="date" name="birth_date" />
      <span></span>
      <label for="birth_date">Birth Date</label>
    </div>

    <!-- address -->
        <div class="txt_field">
          <input 
          type="text" name="address"
          placeholder="ex: 17 talaat harb street, Cairo" />
          <span></span>
          <label for="address">Address</label>
        </div>

      <!-- degree -->
        <div class="txt_field">
          <input 
          type="text" name="degree"/>
          <span></span>
          <label for="Degree">Degree</label>
        </div>

      <!-- specialization -->
        <div class="txt_field">
          <input type="text" name="specialization" />
          <span></span>
          <label for="Specialization">Specialization</label>
        </div>

        <!-- file -->
      <div class="txt_field">
        <div class="custom">
          <input
            type="file"
            name="photo"
            placeholder="Photo"
          />
          <span></span>
          <label for="photo">Select image</label>
        </div>
      </div>

      <!-- email -->
      <div class="txt_field">
        <input 
        type="text" name="email"
        placeholder="ex: name22@gmail.com" />
        <span></span>
        <label for="email">Email</label>
      </div>

        <!-- password -->
        <div class="txt_field">
          <input type="password"  name="password" />
          <span></span>
          <label for="Password">Password</label>
        </div>

        <input type="submit" value="Sign Up" />
        <div class="signup_link">
          <br />
          Back To Home? <a href="{{url_for('index')}}">Home</a>
        </div>
      </form>
    </div>
  </body>
</html>