<!DOCTYPE html>
<!-- Coding By CodingNepal - youtube.com/codingnepal -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Login</title>
    <link
      rel="stylesheet"
      href=" {{url_for('static',filename='css/login.css')}}"
    />
    <link
    rel="stylesheet"
    href="patient.css"
  />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="icon" href="static\assets\img\favicon.png" />
  </head>

  <body>
    <br><br><br>
    {% if emailExisits %}
    <div class="alert alert-warning" role="alert">
      the email you entered already exisits
    </div>
    {%endif%} {% if emailInvalid %}
    <div class="alert alert-warning" role="alert">
      the email you entered is invalid
    </div>
    {%endif%} {% if ssnExisits %}
    <div class="alert alert-warning" role="alert">
      the ssn you entered already exisits
    </div>
    {%endif%}
    <div class="centerSignUp">
      <h1>Doctor Register</h1>
      <form  
      action="{{ url_for('adddoctor') }}"
      method="POST"
      enctype="multipart/form-data">
      <!-- name -->  
      <div class="txt_field">
          <input 
          type="text" name="name1"
          minlength="2"
          maxlength="255"
          placeholder="ex: Michael Hany Rofael"/>
          <span></span>
          <label for="Name">Name</label>
        </div>

      <!-- ssn -->
      <div class="txt_field">
        <input 
        type="int" inputmode="numeric" maxlength="14"
        placeholder="xxxxxxxxxxxxxx" name="ssn" />
        <span></span>
        <label for="Department">SSN</label>
      </div>
      <!-- phone number -->
      <div class="txt_field">
        <input 
        type="tel" inputmode="numeric" maxlength="11"
        placeholder="xxxxxxxxxxx" name="phone number" />
        <span></span>
        <label for="Department">Phone Number</label>
      </div>

    <!-- sex -->
      <div>
      <span></span>
      <select
        class="txt_field"
        aria-label="Default select example"
        name="sex">
        <option value="Male">Male</option>
        <option value="Female">Female</option>
      </select>
    </div>
    
    <!-- birth date -->
    <div class="txt_field">
      <input type="date" name="birth_date" />
      <span></span>
      <label for="birth_date">Birth Date</label>
    </div>

    <!-- address -->
        <div class="txt_field">
          <input 
          type="text" name="address"
          placeholder="ex: 17 talaat harb street, Cairo" />
          <span></span>
          <label for="address">Address</label>
        </div>

      <!-- degree -->
        <div class="txt_field">
          <input 
          type="text" name="degree"/>
          <span></span>
          <label for="Degree">Degree</label>
        </div>

      <!-- specialization -->
        <div class="txt_field">
          <input type="text" name="specialization" />
          <span></span>
          <label for="Specialization">Specialization</label>
        </div>

        <!-- file -->
      <div class="txt_field">
        <div class="custom">
          <input
            type="file"
            name="photo"
            placeholder="Photo"
          />
          <span></span>
          <label for="photo">Select image</label>
        </div>
      </div>

      <!-- email -->
      <div class="txt_field">
        <input 
        type="text" name="email"
        placeholder="ex: name22@gmail.com" />
        <span></span>
        <label for="email">Email</label>
      </div>

        <!-- password -->
        <div class="txt_field">
          <input type="password"  name="password" />
          <span></span>
          <label for="Password">Password</label>
        </div>

        <input type="submit" value="Sign Up" />
        <div class="signup_link">
          <br />
          Back To Home? <a href="{{url_for('index')}}">Home</a>
        </div>
      </form>
    </div>
  </body>
</html>

    <!-- Contact -->
    <!-- <section class="contact d-flex align-items-center py-5" id="contact">
      <div class="container-fluid text-light">
        <div class="row">
          <div
            class="col-lg-6 d-flex justify-content-center justify-content-lg-end align-items-center px-lg-5"
            data-aos="fade-right"
          >
            <div style="width: 90%">
              <div class="text-center text-lg-start py-4 pt-lg-0">
                <p>CONTACT</p>
                <h2 class="py-2">Send your query</h2>
                <p class="para-light">
                  Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within
        a matter of hours to help you.</p>
              </div>
              <div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group py-2">
                      <input
                        type="text"
                        class="form-control form-control-input"
                        id="exampleFormControlInput1"
                        placeholder="Enter name"
                      />
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group py-2">
                      <input
                        type="email"
                        class="form-control form-control-input"
                        id="exampleFormControlInput2"
                        placeholder="Enter phone number"
                      />
                    </div>
                  </div>
                </div>
                <div class="form-group py-1">
                  <input
                    type="email"
                    class="form-control form-control-input"
                    id="exampleFormControlInput3"
                    placeholder="Enter email"
                  />
                </div>
                <div class="form-group py-2">
                  <textarea
                    class="form-control form-control-input"
                    id="exampleFormControlTextarea1"
                    rows="6"
                    placeholder="Message"
                  ></textarea>
                </div>
              </div>
              <div class="my-3">
                <a class="btn form-control-submit-button" href="#your-link"
                  >Submit</a
                >
              </div>
            </div>
     -->        <!-- end of div -->
          <!-- </div>
           --><!-- end of col -->
      <!--     <div class="col-lg-6 d-flex align-items-center" data-aos="fade-down">
            <img
              class="img-fluid d-none d-lg-block"
              src="static\assets\img\contact.jpg"
              alt="contact"
            />
          </div>
       -->    <!-- end of col -->
 <!--        </div>
  -->       <!-- end of row -->
     <!--  </div>
      --> <!-- end of container -->
<!--     </section>
 -->    <!-- end of contact -->