    
    <head>
        <link rel="stylesheet" href="patient.css"> 
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <h1>Adding A New Device</h1>
    </head>

        <form action="http://localhost:5000/adddoctor" method="POST">

            <!-- device_number -->
            <div class="form-group">
                <label for="device_num">Device Number</label>
                <input type="numeric" class="form-control" min="0"  placeholder="ex: 10" required id="device_num" name="device_num">
            </div>
            

            <!-- device_name -->
            <div class="form-group">
                <label for="device_name" class="form-label">Device Name</label>
                <input type="text" class="form-control" id="device_name" name="device_name" minlength="2" maxlength="255" placeholder="ex: X-Ray Machine" required>
            </div>

            <!-- device_model -->
            <div class="form-group">
                <label for="device_model" class="form-label">Device Model</label>
                <input type="text" class="form-control" id="device_model" name="device_model" minlength="2" maxlength="255" placeholder="ex: X-Ray Machine" required>
            </div>

            <!-- ssn -->
            <div class="form-group">
                <label for="Department">SSN</label>
                <input type="int" inputmode="numeric" maxlength="14" placeholder="xxxxxxxxxxxxxx" class="form-control" id="SSN" name="ssn" required>
            </div>

            <!-- sex -->
            <div>
                <label for="sex">Sex</label>
            <select class="form-select" aria-label="Default select example" id="sex" name="sex" required>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>
            </div>

            <!-- email -->
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" id="email" name="email" placeholder="ex: name22@gmail.com" required>
            </div>

            <!-- password -->
            <div class="form-group">
                <label for="Password">Password</label>
                <input type="password" class="form-control" id="Password" name="password" required>
            </div>

            <!-- address -->
            <div class="form-group">
                <label for="address">Address</label>
                <input type="text" class="form-control" id="address" name="address" placeholder="ex: 17 talaat harb street, Cairo" required>
            </div>

            <!-- birth date -->
            <div class="form-group">
                <label for="birth_date">Birth Date</label>
                <input type="date" class="form-control" id="birth_date" name="birth_date" required>
            </div>

            <!-- degree -->
            <div class="form-group">
                <label for="Degree">Degree</label>
                <input type="text" class="form-control" id="Degree" name="degree" required>
            </div>

            <!-- specialization -->
            <div class="form-group">
                <label for="Specialization">Specialization</label>
                <input type="text" class="form-control" id="Specialization" name="specialization" required>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>