{% extends "base.html" %}
{% block head %}

<form action="http://127.0.0.1:5000/addpatient" method="POST">

  <head>
    <link rel="stylesheet" href="patient.css"> 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <h1> Enter Your Data </h1>
  </head>

  <div class="form-group">

    <!-- ID -->
    <div>
      <label for="id">ID</label>
      <input name="id" type="number" class="form-control" id="id" min="0" max="1000000000" placeholder="ex: 10" required>
      <script>
        document.getElementById('id').validity.rangeOverflow;
        document.getElementById('id').validity.rangeUnderflow;
    </script>
    </div>

    <!-- Name -->
    <div>
      <label for="name">Name</label>
      <input name="name" type="text" class="form-control" id="name" minlength="2" maxlength="255" placeholder="ex: Michael Hany Rofael" required>
      <script>
        document.getElementById('name').validity.valid;
      </script>
    </div>  

    <!-- SSN -->
    <div>
      <label for="ssn">SSN</label>
      <input name="ssn" inputmode="numeric" maxlength="14" pattern="[0-9]{14}" class="form-control" id="ssn" placeholder="xxxxxxxxxxxxxx" required>
      <script>
        document.getElementById('ssn').validity.patternMismatch; 
      </script>
    </div> 

    <!-- Sex -->
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="Male" id="male" >
      <label class="form-check-label" for="male"> Male </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="Female" id="female">
      <label class="form-check-label" for="female"> Female </label>
    </div>

    <!-- Email -->
    <div>
      <label for="email">Email Address</label>
      <input name="email" type="email" class="form-control" id="email" placeholder="ex: name22@gmail.com" required>
      <script>
        document.getElementById('email').validity.typeMismatch; 
      </script>
    </div>

    <!-- User Name -->
    <div>
      <label for="userName">User Name</label>
      <input name="userName" type="text" class="form-control" id="userName" placeholder="ex: John41" required>
    </div>

    <!-- Password -->
    <div>
      <label for="password">Password</label>
      <input name="password" type="password" class="form-control" id="password" required>
    </div>

    <!-- Address -->
    <div>
      <label for="address" class="form-label">Address</label>
      <input name="address" type="text" class="form-control" id="address" placeholder="ex: 17 talaat harb street, Cairo" required>
    </div>

    <!-- Bith Date -->
    <div>
      <label for="birthDate">Birth Date</label>
      <input name="birthDate" type="date" class="form-control" id="birthDate" required>
    </div> 

    <!-- Cridet Card -->
    <div>
      <label for="cridetCard">Cridet Card</label>
      <input name="cridetCard" type="tel" inputmode="numeric" maxlength="16" class="form-control" id="cridetCard" placeholder="xxxx xxxx xxxx xxxx">
    </div>

    <!-- Insurance number -->
    <div>
      <label for="insuranceNumber">Insurance Number</label>
      <input name="insuranceNumber" type="tel" inputmode="numeric" maxlength="12" class="form-control" id="insuranceNumber" placeholder="">  
    </div> 
    <!-- my fathers' number is 7 digits -->

    <!-- Marital Status -->
    <div>
      <label for="maritalStatus">Marital Status</label>
      <select class="form-select" aria-label="Default select example" required>
        <option value=""> Please Choose a Value </option>
        <option value="Married">Married</option>
        <option value="Single">Single</option>
        <option value="Divorced">Divorced</option>
        <option value="Widowed">Widowed</option>
      </select>
    </div>

    <!-- job -->
    <div>
      <label for="job">Job</label>
      <input name="job" type="text" class="form-control" id="job" placeholder="ex: Lawer" required>
    </div>

    <!-- Age -->
    <div>
      <label for="age">Age</label>
      <input name="age" type="number" class="form-control" id="age" placeholder="ex: 34" required>
    </div>

    <!-- All the above are based on the data base columns names  -->

    <!-- All next fields are not in the data base -->

    <!-- First Name -->
    <!-- <div>
    <label for="PatientFName">First Name</label>
    <input name="PatientFName" type="text" class="form-control" id="PatientFName" placeholder="Enter your First name" required>
    </div>   -->

    <!-- Last Name -->
    <!-- <div>   
    <label for="PatientLName">Last Name</label>
    <input name="PatientLName" type="text" class="form-control" id="PatientLName" placeholder="Enter your Last name" required>
    </div>    -->

    <!-- Phone Number -->
    <!-- <div>
      <label for="Phone number">Phone number</label>
      <input name="Phone number" type="tel" class="form-control"  id="Phone number"  placeholder="Enter your Phone number" required>
    <div> -->

    <!-- city -->
    <!-- <div>
      <label for="validationCustom03" class="form-label">City</label>
      <input name="City" type="text" class="form-control" id="validationCustom03" placeholder="e.g. Cairo" required>
    <div class="invalid-feedback">
      Please provide a valid city.
    </div> -->


    <!-- Booking a doctor fields are commented as they'll be shifted to another separate page -->

    <!-- Doctor name -->
    <!-- <div>
    <label for="doctorName ">Doctor Name</label>
    <select class="form-select" aria-label="Default select example" required>
      <option selected> Choose your Doctor </option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
    </div> -->

    <!-- Appointment info -->
    <!-- <label for="  ">Appointment</label>
    <div>
      <select class="form-group" aria-label="Default select example" required>
        <option selected>Choose your appointment day</option>
        <option value="Sunday">Sunday</option>
        <option value="Monday">Monday</option>
        <option value="Tuesday">Tuesday</option>
        <option value="Wednesday">Wednesday</option>
        <option value="Thursday">Thursday</option>
        <option value="Friday">Friday</option>
      </select>
    </div>

    <div>
      <select class="form-group" aria-label="Default select example" required>
        <option selected>Choose your appointment time</option>
        <option value="1">12 pm</option>
        <option value="2">2 pm</option>
        <option value="3">4 pm</option>
        <option value="4">6 pm</option>
        <option value="5">8 pm</option>
        <option value="6">10 pm</option>
      </select>
    </div>
    </div> -->

    <!-- Problems -->
    <!-- <div>
    <label for="exampleFormControlTextarea1" class="form-label">Describe What do you feel</label>
    <textarea name="Problem" class="form-control" id="exampleFormControlTextarea1" rows="3" required></textarea>
    </div> -->

    <!-- Terms and conditions -->
    <!-- <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
      <label class="form-check-label" for="invalidCheck2">Agree to terms and conditions</label>
    </div> -->

    <!-- submit -->
    <button class="btn btn-primary" type="submit" value="Submit">Submit</button>
  </div>
</form>

{% endblock %}