<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{{url_for('static',filename='css/base_style.css')}}"/>
    <link rel="icon" href=" {{url_for('static',filename='assets/hospital.png')}}" />

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NEW HOSPITAL</title>
  </head>
  <body class="body">
    <div>
      <nav class="topnav">
        {% if session['user_admin'] or session['user_doctor'] or session['user_patient']  %}
        <a class="loginButton" href="http://127.0.0.1:5000/logout">Log Out</a>
        <img src=" {{url_for('static',filename='assets/hospital.png')}}" class="titleicon" />
        <label class="title">NEW<br />HOSPITAL</label>
        <ul style="float: right">
          <li class="li_items"> <a class="navitems" href="#">Home</a></li>
          <li class="li_items"> <a class="navitems" href="http://127.0.0.1:5000/adddevice">Add Device</a></li>
          <li class="li_items"> <a class="navitems" href="http://127.0.0.1:5000/doctors">Doctors</a></li>
        <li class="li_items"><a class="navitems" href="http://127.0.0.1:5000/viewpatient">Patients</a></li>
        <li class="li_items"><a class="navitems" href="http://127.0.0.1:5000/addpatient">Book Now</a></li>
        <li class="li_items"><a class="navitems" href="#">About Us</a></li>
        </ul>
        {%else%}
        <a class="loginButton" href="http://127.0.0.1:5000/preSignUp?">Sign-Up</a>
        <img src=" {{url_for('static',filename='assets/sign_up.png')}}" />
        <a class="loginButton" href="http://127.0.0.1:5000/login">Login</a>
        <img src="{{url_for('static',filename='assets/login.png')}}" />
        <img src=" {{url_for('static',filename='assets/hospital.png')}}" class="titleicon" />
      <label class="title">NEW<br />HOSPITAL</label>
      <ul style="float: right">
        <li class="li_items"> <a class="navitems" href="#">Home</a></li>
        <li class="li_items"> <a class="navitems" href="http://127.0.0.1:5000/login">Add Device</a></li>
        <li class="li_items"> <a class="navitems" href="http://127.0.0.1:5000/login">Doctors</a></li>
        <li class="li_items"> <a class="navitems" href="http://127.0.0.1:5000/login">Patients</a></li>
        <li class="li_items"> <a class="navitems" href="#">About Us</a></li>
        <li class="li_items"> <a class="navitems" href="http://127.0.0.1:5000/login">Book Now</a></li>
      </ul>
      {%endif%}
      <hr />
    </nav>

  </div>
  <div class="content">
    {% block body %}

    {% endblock %}
  </div>


  <div class="bottomnav">
    <img src="/static/assets/hospital.png" class="bottomtitleicon" />
    <table style="margin-right: 70px;">
      <tr>
        <th>
        <td>
          <h1 class="contacts">Contact Us</h1>
        </td>
        </th>
      </tr>
      <tr>
        <td>
          <img class="img" src="/static/assets/telephone.png" style="width: 40px" />
        </td>
        <td class="phonenum">123456</td>
      </tr>
      <tr>
        <td>
          <img class="img" src="/static/assets/mail.png" />
        </td>
        <td>
          <h2 class="phonenum" style="font-size: 25px">INFO@HOSPITAL.COM</h2>
        </td>
      </tr>
      <tr>
        <td>
          <img class="img" src="/static/assets/facebook.png" />
        </td>
        <td>
          <h2 class="phonenum" style="font-size: 25px">facebook.com/NewHospital</h2>
        </td>
      </tr>
      <tr>
        <td>
          <img class="img" src="/static/assets/twitter.png" />
        </td>
        <td>
          <h2 class="phonenum" style="font-size: 25px">twitter.com/newhospital</h2>
        </td>
      </tr>
      <tr>
        <td>
          <img class="img" src="/static/assets/youtube.png" />
        </td>
        <td>
          <h2 class="phonenum" style="font-size: 25px">youtube.com/user/NewHospital</h2>
        </td>
      </tr>
      <tr>
        <td>
          <img class="img" src="/static/assets/instagram.png" />
        </td>
        <td>
          <h2 class="phonenum" style="font-size: 25px">instagram.com/NewHospital/</h2>
        </td>
      </tr>
    </table>
  </div>
</body>

</html>