<!DOCTYPE html>
<html>
   <head>
      <title>Page Title</title>
      <link rel="stylesheet" href="addAppointment.css"> 
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   </head>

   <body>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    <div class="idance">
        <div class="schedule content-block">
            <div class="container">
                <h2 data-aos="zoom-in-up" class="aos-init aos-animate">Booking an appointment</h2>
            
                <div class="timetable">
            
                  <!-- Schedule Top Navigation -->
                  <nav class="nav nav-tabs">
                    <a class="nav-link active">Mon</a>
                    <a class="nav-link">Tue</a>
                    <a class="nav-link">Wed</a>
                    <a class="nav-link">Thu</a>
                    <a class="nav-link">Fri</a>
                    <a class="nav-link">Sat</a>
                    <a class="nav-link">Sun</a>
                  </nav>
            
                  <div class="tab-content">
                    <div class="tab-pane show active">
                      <div class="row">
            
                        <!-- Schedule Item 1 -->
                        <div class="col-md-6">
                          <div class="timetable-item">
                            <div class="timetable-item-img">
                              <img src="static\assets\img\testimonial-2.jpg" alt="Contemporary Dance">
                            </div>
                            <div class="timetable-item-main">
                              <div class="timetable-item-time">6:00pm - 7:00pm</div>
                              <!-- <div class="timetable-item-name">Contemporary Dance</div> -->
                              <a href="#" class="btn btn-primary btn-book">Book</a>
                              <div class="timetable-item-like">
                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                                <i class="fa fa-heart" aria-hidden="true"></i>
                                <div class="timetable-item-like-count">11</div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="col-md-6">
                          <div class="timetable-item">
                            <div class="timetable-item-img">
                              <img src="static\assets\img\testimonial-2.jpg" alt="Contemporary Dance">
                            </div>
                            <div class="timetable-item-main">
                              <div class="timetable-item-time">7:00pm - 8:00pm</div>
                              <!-- <div class="timetable-item-name">Contemporary Dance</div> -->
                              <a href="#" class="btn btn-primary btn-book">Book</a>
                              <div class="timetable-item-like">
                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                                <i class="fa fa-heart" aria-hidden="true"></i>
                                <div class="timetable-item-like-count">11</div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="timetable-item">
                            <div class="timetable-item-img">
                              <img src="static\assets\img\testimonial-2.jpg" alt="Contemporary Dance">
                            </div>
                            <div class="timetable-item-main">
                              <div class="timetable-item-time">8:00pm - 9:00pm</div>
                              <!-- <div class="timetable-item-name">Contemporary Dance</div> -->
                              <a href="#" class="btn btn-primary btn-book">Book</a>
                              <div class="timetable-item-like">
                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                                <i class="fa fa-heart" aria-hidden="true"></i>
                                <div class="timetable-item-like-count">11</div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="timetable-item">
                            <div class="timetable-item-img">
                              <img src="static\assets\img\testimonial-2.jpg" alt="Contemporary Dance">
                            </div>
                            <div class="timetable-item-main">
                              <div class="timetable-item-time">9:00pm - 10:00pm</div>
                              <!-- <div class="timetable-item-name">Contemporary Dance</div> -->
                              <a href="#" class="btn btn-primary btn-book">Book</a>
                              <div class="timetable-item-like">
                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                                <i class="fa fa-heart" aria-hidden="true"></i>
                                <div class="timetable-item-like-count">11</div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="timetable-item">
                            <div class="timetable-item-img">
                              <img src="static\assets\img\testimonial-4.jpg" alt="Contemporary Dance">
                            </div>
                            <div class="timetable-item-main">
                              <div class="timetable-item-time">6:00pm - 7:00pm</div>
                              <!-- <div class="timetable-item-name">Contemporary Dance</div> -->
                              <a href="#" class="btn btn-primary btn-book">Book</a>
                              <div class="timetable-item-like">
                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                                <i class="fa fa-heart" aria-hidden="true"></i>
                                <div class="timetable-item-like-count">11</div>
                              </div>
                            </div>
                          </div>
                        </div>
            
                        <!-- Schedule Item 2 -->
                        <div class="col-md-6">
                          <div class="timetable-item">
                            <div class="timetable-item-img">
                              <img src="static\assets\img\testimonial-4.jpg" alt="Break Dance">
                            </div>
                            <div class="timetable-item-main">
                              <div class="timetable-item-time">7:00pm - 8:00pm</div>
                              <!-- <div class="timetable-item-name">Break Dance</div> -->
                              <a href="#" class="btn btn-primary btn-book">Book</a>
                              <div class="timetable-item-like">
                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                                <i class="fa fa-heart" aria-hidden="true"></i>
                                <div class="timetable-item-like-count">28</div>
                              </div>
                            </div>
                          </div>
                        </div>
            
                        <!-- Schedule Item 3 -->
                        <div class="col-md-6">
                          <div class="timetable-item">
                            <div class="timetable-item-img">
                              <img src="static\assets\img\testimonial-4.jpg" alt="Street Dance">
                            </div>
                            <div class="timetable-item-main">
                              <div class="timetable-item-time">8:00pm - 9:00pm</div>
                              <!-- <div class="timetable-item-name">Street Dance</div> -->
                              <a href="#" class="btn btn-primary btn-book">Book</a>
                              <div class="timetable-item-like">
                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                                <i class="fa fa-heart" aria-hidden="true"></i>
                                <div class="timetable-item-like-count">28</div>
                              </div>
                            </div>
                          </div>
                        </div>
            
                        <!-- Schedule Item 4 -->
                        <div class="col-md-6">
                          <div class="timetable-item">
                            <div class="timetable-item-img">
                              <img src="static\assets\img\testimonial-4.jpg" alt="Yoga">
                            </div>
                            <div class="timetable-item-main">
                              <div class="timetable-item-time">9:00pm - 10:00pm</div>
                              <!-- <div class="timetable-item-name">Yoga</div> -->
                              <a href="#" class="btn btn-primary btn-book">Book</a>
                              <div class="timetable-item-like">
                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                                <i class="fa fa-heart" aria-hidden="true"></i>
                                <div class="timetable-item-like-count">23</div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="timetable-item">
                            <div class="timetable-item-img">
                              <img src="static\assets\img\testimonial-3.jpg" alt="Yoga">
                            </div>
                            <div class="timetable-item-main">
                              <div class="timetable-item-time">6:00pm - 7:00pm</div>
                              <!-- <div class="timetable-item-name">Yoga</div> -->
                              <a href="#" class="btn btn-primary btn-book">Book</a>
                              <div class="timetable-item-like">
                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                                <i class="fa fa-heart" aria-hidden="true"></i>
                                <div class="timetable-item-like-count">23</div>
                              </div>
                            </div>
                          </div>
                        </div>
            
                        <div class="col-md-6">
                          <div class="timetable-item">
                            <div class="timetable-item-img">
                              <img src="static\assets\img\testimonial-3.jpg" alt="Yoga">
                            </div>
                            <div class="timetable-item-main">
                              <div class="timetable-item-time">7:00pm - 8:00pm</div>
                              <!-- <div class="timetable-item-name">Yoga</div> -->
                              <a href="#" class="btn btn-primary btn-book">Book</a>
                              <div class="timetable-item-like">
                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                                <i class="fa fa-heart" aria-hidden="true"></i>
                                <div class="timetable-item-like-count">23</div>
                              </div>
                            </div>
                          </div>
                        </div>
            
                        <div class="col-md-6">
                          <div class="timetable-item">
                            <div class="timetable-item-img">
                              <img src="static\assets\img\testimonial-3.jpg" alt="Yoga">
                            </div>
                            <div class="timetable-item-main">
                              <div class="timetable-item-time">8:00pm - 9:00pm</div>
                              <!-- <div class="timetable-item-name">Yoga</div> -->
                              <a href="#" class="btn btn-primary btn-book">Book</a>
                              <div class="timetable-item-like">
                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                                <i class="fa fa-heart" aria-hidden="true"></i>
                                <div class="timetable-item-like-count">23</div>
                              </div>
                            </div>
                          </div>
                        </div>
            
                        <div class="col-md-6">
                          <div class="timetable-item">
                            <div class="timetable-item-img">
                              <img src="static\assets\img\testimonial-3.jpg" alt="Yoga">
                            </div>
                            <div class="timetable-item-main">
                              <div class="timetable-item-time">9:00pm - 10:00pm</div>
                              <!-- <div class="timetable-item-name">Yoga</div> -->
                              <a href="#" class="btn btn-primary btn-book">Book</a>
                              <div class="timetable-item-like">
                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                                <i class="fa fa-heart" aria-hidden="true"></i>
                                <div class="timetable-item-like-count">23</div>
                              </div>
                            </div>
                          </div>
                        </div>
            
            
      </body>                  


    <!-- <table class="table or container">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">name</th>
            <th scope="col">start time</th>
            <th scope="col">end time</th>
            <th scope="col">date</th>
        </tr>
        </thead> -->
        <tbody>
           {% for r in data %}
            <tr>
              {% for c in r %}
                <td>{{c}}</td>
              {% endfor %}
            <td>
                <form action="{{url_for('viewAppointments')}}">
                    <button type="submit" class="btn btn-primary">book now</button>
                </form>
            </td>
              
            </tr>
          {% endfor %}
        </tbody>
    <!-- </table>  -->
  <!-- </body> -->
</html> 