<!DOCTYPE html>
<html lang= "en-GB">
<head>
<title> Jordan's Profile </title>
<link rel="stylesheet" href="profile.css">
<meta charset="UTF-8">
</head>

<body>
  <div class="main-nav">
      <ul class="nav">
        <li class="name">J-DON</li>
        <li><a href="{{url_for(hobbies)}}">Home</a></li>
        <li><a href="#">Hobbies</a></li>
      </ul>
  </div>

  <header>
    <img src="images/code-ninja.jpg" alt="Ninja Coder" class="profile-image">
  </header>

  <main class="flex">
    <div class="card">
      <h2>Hobbies</h2>
        <img src="images/code-design.png" alt="code design" class="code-design">
        <p> As you might imagine, coding takes up a large part of my life. Not only am a member of the infamous coding community which is <em><strong> Team Treehouse</strong> </em>, I'm also a member of <em><strong> Founders & Coders </strong></em>, a local club situated in London, where coders of all experience levels can network, share ideas over a pint, and create new friendships.</p>
        <p> My interests also consists of a deep appreciation for design. Adobe Photoshop and Illustrator have long been tools in my arsenal, which have sharpened my eye for visual aesthetics. </p>
    </div>
  </main>
  <footer>
    <p> &copy; 2018, Jordan Adedeji</p>
  </footer>
</body>
</html>
