<!DOCTYPE html>
<html lang= "en-GB">
<head>
<title> Jordan's Profile </title>
<link rel="stylesheet" href="profile.css">
<meta charset="UTF-8">
</head>

<body>
  <div class="main-nav">
      <ul class="nav">
        <li class="name">J-DON</li>
        <li><a href="{{url_for(index)}}">Home</a></li>
        <li><a href="{{url_for(hobbies)}}">Hobbies</a></li>
      </ul>
  </div>

  <header>
    <img src="images/jordans-avatar.jpg" alt="Jordans Avatar" class="profile-image">
    <h1 class="tag name">Greetings, I’m Jordan.</h1>
    <p class="tag location">Welcome to my domain!</p>
  </header>

  <main class="flex">
    <div class="card">
      <h2>Background</h2>
      <p> I'm an aspiring front-end developer, a purveyor of the world wide web and a passionate student of coding.</p>
      <p> My enthusiasm for programming comes from a nature to create things from scratch. I have always been caught in the allure of computers but my journey truly began when I learned how just a few lines of code could make a machine bend to my will.</p>
      <p> This obsession has taken me through a series of different programming languages to broaden my skills as a developer. </p>
    </div>

    <div class="card">
      <h2>Goals</h2>
      <p> A great developer should always try to improve their craft and increase their knowledge. Hence, I continually try to perfect my process of building websites and add to my skills in:</p>
      <ul class="skills">
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
      </ul>
      <p>I’d like to work for a web design firm helping clients create an impressive online presence.</p>
    </div>
  </main>
  <footer>
    <p> &copy; 2018, Jordan Adedeji</p>
  </footer>

</body>
</html>
