<!DOCTYPE html>
<html lang= "en-GB">
<head>
<title> Jordan's Profile </title>
<link rel="stylesheet" href="{{url_for('static',filename='css/profile.css')}}"/>
<meta charset="UTF-8">
</head>

<body>
  <div class="main-nav">
      <ul class="nav">
        <li class="name">J-DON</li>
        <li><a href="{{url_for('profileh')}}">Profile</a></li>
        <li><a href="{{url_for('moreInfo')}}">More Info</a></li>
      </ul>
  </div>

  <header>
    <img src= "static/imgs/uploads/b0c2141f2ecfb2c7f70cbfbfff2b4905.png"  alt="Ninja Coder" class="profile-image">
  </header>

  <footer>
    <p> &copy; 2018, Jordan Adedeji</p>
  </footer>
</body>
</html>
