{%extends'index.html'%}

{%block main%}
<!-- Services -->

    <section class="services d-flex align-items-center py-5" id="services">
        <div class="container text-light">
            <div class="text-center pb-4" >
              <br><br><br><br>            
              <p><br> <br> <br><br> <br> <br>Tips & Exercises</p> 
                <h2 class="py-2">No Tomorrow! Start Today</h2>
                <p class="para-light">Health is your greatest strength & Human anatomy results from function. Let’s make the perfect conditions for a healthy body condition.</p>
            </div>
            <div class="row gy-4 py-2" data-aos="zoom-in">
                <div class="col-lg-4">
                    <div class="card bg-transparent">
                      <img src="/static/assets/muscle.png" style="width: 4em" /><br>
                        <h3 class="py-2">Bladder issues exercises</h3>
                        <p class="para-light" ><a style="color:rgb(114, 212, 114) ;" href="https://www.youtube.com/watch?v=l_PM-wN116Q"> Click Here to Watch Now</a></p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card bg-transparent">
                      <img src="/static/assets/muscle.png" style="width: 4em" /><br>
                        <h3 class="py-2">Elderly Exercises</h3>
                        <p class="para-light" ><a style="color:rgb(114, 212, 114) ;" href="https://www.youtube.com/watch?v=Ir5hQvakCww"> Click Here to Watch Now</a></p>
                    </div>                    
                </div>
                <div class="col-lg-4">
                    <div class="card bg-transparent">
                      <img src="/static/assets/muscle.png" style="width: 4em" /><br>
                      <h3 class="py-2">Scoliosis Exercises</h3>
                      <p class="para-light" ><a style="color:rgb(114, 212, 114) ;" href="https://www.youtube.com/watch?v=wmk5Mvz4pe8"> Click Here to Watch Now</a></p>
                    </div>                    
                </div>
                <div class="col-lg-4">
                    <div class="card bg-transparent" >
                      <img src="/static/assets/muscle.png" style="width: 4em" /><br>
                      <h3 class="py-2">Knee Exercises</h3>
                      <p class="para-light" ><a style="color:rgb(114, 212, 114) ;" href="https://www.youtube.com/watch?v=ikt6NME0k9E"> Click Here to Watch Now</a></p>
                      </div>                    
                </div>
                <div class="col-lg-4">
                    <div class="card bg-transparent">
                      <img src="/static/assets/muscle.png" style="width: 4em" /><br>
                      <h3 class="py-2">Scoliosis Exercises</h3>
                      <p class="para-light" ><a style="color:rgb(114, 212, 114) ;" href="https://www.youtube.com/watch?v=wmk5Mvz4pe8"> Click Here to Watch Now</a></p>
                    </div>                    
                </div>
                <div class="col-lg-4">
                    <div class="card bg-transparent">
                      <img src="/static/assets/muscle.png" style="width: 4em" /><br>
                      <h3 class="py-2">Scoliosis Exercises</h3>
                      <p class="para-light" ><a style="color:rgb(114, 212, 114) ;" href="https://www.youtube.com/watch?v=wmk5Mvz4pe8"> Click Here to Watch Now</a></p>
                    </div>                    
                </div>
            </div> <!-- end of row -->
            <br><br><br><br>
            <br><br><br><br>

        </div> 
      <!-- end of container -->
      </section> 
      <!-- end of services -->


    <!-- Plans -->
    <section class="plans d-flex align-items-center py-5" id="plans">
        <div class="container text-light">
          <div class="text-center pb-4">
            <p>OUR PLANS</p>
            <h2 class="py-2">Explore unlimited possibilities</h2>
            <p class="para-light">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae
              asperiores, quia accusantium sunt corporis optio recusandae? Nostrum
              libero pariatur cumque, ipsa dolores voluptatibus voluptate alias
              sit fuga. Itaque, ea quo.
            </p>
          </div>
          <div class="row gy-4" data-aos="zoom-in">
            <div class="col-lg-4">
              <div class="card bg-transparent px-4">
                <h4 class="py-2">BASIC BUNDLE</h4>
                <p class="py-3">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </p>
                <div class="block d-flex align-items-center">
                  <p class="pe-2"><i class="far fa-check-circle fa-1x"></i></p>
                  <p>Lorem ipsum dolor sit amet.</p>
                </div>
                <div class="block d-flex align-items-center">
                  <p class="pe-2"><i class="far fa-check-circle fa-1x"></i></p>
                  <p>Lorem ipsum dolor sit amet.</p>
                </div>
                <div class="block d-flex align-items-center">
                  <p class="pe-2"><i class="far fa-check-circle fa-1x"></i></p>
                  <p>Lorem ipsum dolor sit amet.</p>
                </div>
                <div class="block d-flex align-items-center">
                  <p class="pe-2"><i class="far fa-check-circle fa-1x"></i></p>
                  <p>Lorem ipsum dolor sit amet.</p>
                </div>
                <h4 class="py-3">$24/Month</h4>
                <div class="my-3">
                  <a class="btn" href="#your-link">View Plans</a>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4">
              <div class="card bg-transparent px-4">
                <h4 class="py-2">BUSINESS BUNDLE</h4>
                <p class="py-3">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </p>
                <div class="block d-flex align-items-center">
                  <p class="pe-2"><i class="far fa-check-circle fa-1x"></i></p>
                  <p>Lorem ipsum dolor sit amet.</p>
                </div>
                <div class="block d-flex align-items-center">
                  <p class="pe-2"><i class="far fa-check-circle fa-1x"></i></p>
                  <p>Lorem ipsum dolor sit amet.</p>
                </div>
                <div class="block d-flex align-items-center">
                  <p class="pe-2"><i class="far fa-check-circle fa-1x"></i></p>
                  <p>Lorem ipsum dolor sit amet.</p>
                </div>
                <div class="block d-flex align-items-center">
                  <p class="pe-2"><i class="far fa-check-circle fa-1x"></i></p>
                  <p>Lorem ipsum dolor sit amet.</p>
                </div>
                <h4 class="py-3">$99/Month</h4>
                <div class="my-3">
                  <a class="btn" href="#your-link">View Plans</a>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4">
              <div class="card bg-transparent px-4">
                <h4 class="py-2">PREMIUM BUNDLE</h4>
                <p class="py-3">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </p>
                <div class="block d-flex align-items-center">
                  <p class="pe-2"><i class="far fa-check-circle fa-1x"></i></p>
                  <p>Lorem ipsum dolor sit amet.</p>
                </div>
                <div class="block d-flex align-items-center">
                  <p class="pe-2"><i class="far fa-check-circle fa-1x"></i></p>
                  <p>Lorem ipsum dolor sit amet.</p>
                </div>
                <div class="block d-flex align-items-center">
                  <p class="pe-2"><i class="far fa-check-circle fa-1x"></i></p>
                  <p>Lorem ipsum dolor sit amet.</p>
                </div>
                <div class="block d-flex align-items-center">
                  <p class="pe-2"><i class="far fa-check-circle fa-1x"></i></p>
                  <p>Lorem ipsum dolor sit amet.</p>
                </div>
                <h4 class="py-3">$199/Month</h4>
                <div class="my-3">
                  <a class="btn" href="#your-link">View Plans</a>
                </div>
              </div>
            </div>
          </div>
          <!-- end of row -->
        </div>
        <!-- end of container -->
      </section>
      <!-- end of plans -->

{%endblock%}
