{%extends'index.html'%} {%block main%}
<!-- Services -->
<section class="services d-flex align-items-center py-5" id="services">
  <div class="container text-light">
    <div class="text-center pb-4">
      <br /><br /><br /><br />
      <p>
        <br />
        <br />
        <br /><br />
        <br />
        <br />Tips & Exercises
      </p>
      <h2 class="py-2">No Tomorrow! Start Today</h2>
      <p class="para-light">
        Health is your greatest strength & Human anatomy results from function.
        Let’s make the perfect conditions for a healthy body condition.
      </p>
    </div>
    <div class="row gy-4 py-2" data-aos="zoom-in">
      <div class="col-lg-4">
        <div class="card bg-transparent">
          <img src="/static/assets/muscle.png" style="width: 4em" /><br />
          <h3 class="py-2">Bladder issues exercises</h3>
          <p class="para-light">
            <a
              style="color: rgb(114, 212, 114)"
              href="https://www.youtube.com/watch?v=l_PM-wN116Q"
            >
              Click Here to Watch Now</a
            >
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card bg-transparent">
          <img src="/static/assets/muscle.png" style="width: 4em" /><br />
          <h3 class="py-2">Elderly Exercises</h3>
          <p class="para-light">
            <a
              style="color: rgb(114, 212, 114)"
              href="https://www.youtube.com/watch?v=Ir5hQvakCww"
            >
              Click Here to Watch Now</a
            >
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card bg-transparent">
          <img src="/static/assets/muscle.png" style="width: 4em" /><br />
          <h3 class="py-2">Scoliosis Exercises</h3>
          <p class="para-light">
            <a
              style="color: rgb(114, 212, 114)"
              href="https://www.youtube.com/watch?v=wmk5Mvz4pe8"
            >
              Click Here to Watch Now</a
            >
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card bg-transparent">
          <img src="/static/assets/muscle.png" style="width: 4em" /><br />
          <h3 class="py-2">Knee Exercises</h3>
          <p class="para-light">
            <a
              style="color: rgb(114, 212, 114)"
              href="https://www.youtube.com/watch?v=ikt6NME0k9E"
            >
              Click Here to Watch Now</a
            >
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card bg-transparent">
          <img src="/static/assets/muscle.png" style="width: 4em" /><br />
          <h3 class="py-2">Wrist, Hand & Fingers</h3>
          <p class="para-light">
            <a
              style="color: rgb(114, 212, 114)"
              href="https://youtu.be/50j9-PQp5HU"
            >
              Click Here to Watch Now</a
            >
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card bg-transparent">
          <img src="/static/assets/muscle.png" style="width: 4em" /><br />
          <h3 class="py-2">Biceps Tendonitis</h3>
          <p class="para-light">
            <a
              style="color: rgb(114, 212, 114)"
              href="https://youtu.be/M9-yNm0NpVc"
            >
              Click Here to Watch Now</a
            >
          </p>
        </div>
      </div>
    </div>
    <!-- end of row -->
    <br /><br /><br /><br />
    <br /><br /><br /><br />
  </div>
  <!-- end of container -->
</section>
<!-- end of services -->


<!-- Plans -->
<section class="plans d-flex align-items-center py-5" id="plans">
<div class="container text-light">
  <div class="text-center pb-4">
    <p></p>
    <h2 class="py-2">Rehabilation</h2>
    <p class="para-light">
    </p>
  </div>
  <div class="row gy-4" data-aos="zoom-in">
    <div class="col-lg-4">
      <div class="card bg-transparent px-4">
        <h4 class="py-2">Sports Rehab </h4>
        <!-- <a class="py-3" href="https://www.youtube.com/watch?v=sTLrDEoF_C0&list=PLxLpEELlSIgCJU5Gw-EN1x63j2hTihmG_&index=7" >
          Bench Press and Shoulder Pain
        </a> -->
        <div class="block d-flex align-items-center">
          <p class="pe-2"><i class="far fa-check-circle fa-1x"></i></p>
          <a href="https://www.youtube.com/watch?v=eYKLiW35TMY&list=PLxLpEELlSIgCJU5Gw-EN1x63j2hTihmG_&index=10">Headache with Pushup and Rowing</p>
        </div>
        <div class="block d-flex align-items-center">
          <p class="pe-2"><i class="far fa-check-circle fa-1x"></i></p>
          <a href="https://www.youtube.com/watch?v=sTLrDEoF_C0&list=PLxLpEELlSIgCJU5Gw-EN1x63j2hTihmG_&index=7" >Bench Press and Shoulder Pain</a>
        </div>
        <div class="block d-flex align-items-center">
          <p class="pe-2"><i class="far fa-check-circle fa-1x"></i></p>
          <a href="https://www.youtube.com/watch?v=9PcwjXdTQnM&list=PLxLpEELlSIgCJU5Gw-EN1x63j2hTihmG_&index=11">Hamstring Strain In Soccer</a>
        </div>
        <div class="block d-flex align-items-center">
          <p class="pe-2"><i class="far fa-check-circle fa-1x"></i></p>
          <a href="https://www.youtube.com/watch?v=e58Kdu88b4M&list=PLxLpEELlSIgCJU5Gw-EN1x63j2hTihmG_&index=12">Knee Pain At The Bottom Of Squat</a>
        </div>
        <!-- <div class="my-3">
          <a class="btn" href="#your-link">View Plans</a>
        </div> -->
      </div>
    </div>

    <div class="col-lg-4">
      <div class="card bg-transparent px-4">
        <h4 class="py-2"> Neck and Upper Back Rehab</h4>
        <!-- <p class="py-3">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p> -->
        <div class="block d-flex align-items-center">
          <p class="pe-2"><i class="far fa-check-circle fa-1x"></i></p>
          <a href="https://www.youtube.com/watch?v=9jvnal2v7fc&list=PLxLpEELlSIgD3xhXefxmLepHHeuN8bkLX&index=1">Table Top Bridge</a>
        </div>
        <div class="block d-flex align-items-center">
          <p class="pe-2"><i class="far fa-check-circle fa-1x"></i></p>
          <a href="https://www.youtube.com/watch?v=vBmnuJlEuLI&list=PLxLpEELlSIgD3xhXefxmLepHHeuN8bkLX&index=5">Seated Posterior Expansion</a>
        </div>
        <div class="block d-flex align-items-center">
          <p class="pe-2"><i class="far fa-check-circle fa-1x"></i></p>
          <a href="https://www.youtube.com/watch?v=eXJ0QqGNjug&list=PLxLpEELlSIgD3xhXefxmLepHHeuN8bkLX&index=7">Lazy Bear</a>
        </div>
        <div class="block d-flex align-items-center">
          <p class="pe-2"><i class="far fa-check-circle fa-1x"></i></p>
          <a href="https://www.youtube.com/watch?v=tHvlMxOFN0A&list=PLxLpEELlSIgD3xhXefxmLepHHeuN8bkLX&index=17">Hand Elevated Pushup</a>
        </div>
        <!-- <h4 class="py-3">$99/Month</h4>
        <div class="my-3">
          <a class="btn" href="#your-link">View Plans</a>
        </div> -->
      </div>
    </div>

    <div class="col-lg-4">
      <div class="card bg-transparent px-4">
        <h4 class="py-2">Low Back Rehab</h4>
        <!-- <p class="py-3">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>-->
        <div class="block d-flex align-items-center">
          <p class="pe-2"><i class="far fa-check-circle fa-1x"></i></p>
          <a href="https://www.youtube.com/watch?v=hH86XAmSriM&list=PLxLpEELlSIgDV5FO6kGMTTFoRJ2b0-2dC&index=6">Low Back Rehab</a>
        </div>
        <div class="block d-flex align-items-center">
          <p class="pe-2"><i class="far fa-check-circle fa-1x"></i></p>
          <a href="https://www.youtube.com/watch?v=OUiAqN3SmaE&list=PLxLpEELlSIgDV5FO6kGMTTFoRJ2b0-2dC&index=9">Zercher Squat</a>
        </div>
        <div class="block d-flex align-items-center">
          <p class="pe-2"><i class="far fa-check-circle fa-1x"></i></p>
          <a href="https://www.youtube.com/watch?v=QWB_Z5mhHhE&list=PLxLpEELlSIgDV5FO6kGMTTFoRJ2b0-2dC&index=13">Dragon Flag Eccentric</a>
        </div>
        <div class="block d-flex align-items-center">
          <p class="pe-2"><i class="far fa-check-circle fa-1x"></i></p>
          <a href="https://www.youtube.com/watch?v=UaS4X2Me3ik&list=PLxLpEELlSIgDV5FO6kGMTTFoRJ2b0-2dC&index=15">Side Lying Rib Shift</a>
        </div>
      </div>
    </div>
  </div>
  <!-- end of row -->
</div>
</section>

{%endblock%}