<!DOCTYPE html>
<html lang= "en-GB">
<head>
<title> Jordan's Profile </title>
<link rel="stylesheet" href="{{url_for('static',filename='css/profile.css')}}"/>
<meta charset="UTF-8">
</head>

<body>
  <div class="main-nav">
      <ul class="nav">
        <li class="name">J-DON</li>
        <li><a href="{{url_for('profileh')}}">Profile</a></li>
        <li><a href="{{url_for('moreInfo')}}">More Info</a></li>
      </ul>
  </div>

  <header>
    <!-- <img src= "{{url_for('static',filename='imgs/uploads/dc82392a0367c59763098658380a8543.png')}}"  alt="Jordans Avatar" class="profile-image"> -->
    <img src= "static/imgs/uploads/b0c2141f2ecfb2c7f70cbfbfff2b4905.png"  alt="Jordans Avatar" class="profile-image">
  </header>
</body>
</html>
