{% extends "index.html" %}
{% block head %}

    <h1>View Patient!</h1>

    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Phone no</th>
          <th>Age</th>
          <th>Doctor</th>
          <th>Problem</th>
        </tr>
      </thead>
      <tbody>
        {% for r in data %}

        <tr>
            <td> {{ r.0 }}</td>
            <td> {{ r.1 }}</td>
            <td> {{ r.2 }}</td>
            <td> {{ r.3 }}</td>
            <td> {{ r.4 }}</td>
        </tr>

        {% endfor %}
      </tbody>
    </table>

{% endblock %}