{%extends 'addAppointment.html'%} {%block body%}
<div class="container">
  <div class="timetable-img text-center">
    <img src="/static/assets/back.jpg" alt="" />
  </div>
  <div class="table-responsive">
    {% if not empty %}
    <h3 style="color: whitesmoke">My Upcoming Appointments</h3>
    <table
      style="background-color: #252c38; margin-bottom: 30px"
      class="table table-bordered text-center"
    >
      <thead>
        <tr class="bg-light-gray" style="color: white">
          <th class="text-uppercase">#</th>
          <th class="text-uppercase">Doctor Name</th>
          <th class="text-uppercase">Start Time</th>
          <th class="text-uppercase">End Time</th>
          <th class="text-uppercase">Date</th>
          <th class="text-uppercase">booked</th>
          <th class="text-uppercase">Delete</th>
        </tr>
      </thead>
      <tbody>
          {% for r in data %} 
          {% include 'includes/items_modal_deleteApp.html'%}

          <tr>
            {% for c in r %}
            <td>
              <span
                class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13"
                >{{c}}</span
              >
            </td>
            {% endfor %}
            <td>
              <button
                style="background-color: whitesmoke"
                data-toggle="modal"
                data-target="#Modal-deleteApp-{{r.0}}"
                class="btn-close"
                aria-label="Close"
              ></button>
            </td>
          </tr>
          {% endfor %}
      </tbody>
    </table>
    {% else %}
    <div class="alert alert-light" role="alert">There are no appointments</div>
    {% endif %}
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
   
<script src="static/js/jquery.min.js"></script>
<script src="static/js/popper.js"></script>
<script src="statics/js/bootstrap.min.js"></script>
<script src="static/js/main.js"></script>


{%block viewbutton%} {%endblock%} {%endblock%}
