{%extends 'addAppointment.html'%}

{%block body%}
<div class="container">
    <div class="timetable-img text-center">
        <img src="/static/assets/back.jpg" alt="">
    </div>
    <div class="table-responsive">
        <table class="table table-bordered text-center">
            <thead>
                <tr class="bg-light-gray">
                    <th class="text-uppercase"># </th>
                    <th class="text-uppercase">Doctor Name</th>
                    <th class="text-uppercase">Start Time</th>
                    <th class="text-uppercase">End Time</th>
                    <th class="text-uppercase">Date</th>
                    
                </tr>
            </thead>
            <tbody>
                {% for r in data %}
                <tr>
                    {% for c in r %}
                        <td><span class="bg-sky padding-5px-tb padding-15px-lr border-radius-5 margin-10px-bottom text-white font-size16 xs-font-size13">{{c}}</span></td>
                        {% endfor %}
                <td>
                    <form action="{{url_for('viewAppointments')}}">
                        <button type="submit" class="btn btn-primary">book now</button>
                    </form>
                </td>
                </tr>
                    {% endfor %}
            </tbody>
        </table>
    </div>
</div>
  <!-- <table class="table or container">
      <thead>
      <tr>
          <th scope="col">#</th>
          <th scope="col">name</th>
          <th scope="col">start time</th>
          <th scope="col">end time</th>
          <th scope="col">date</th>
      </tr>
      </thead> -->

      <tbody>
        {% for r in data %}
        <tr>
          {% for c in r %}
            <td>{{c}}</td>
          {% endfor %}
        <td>
            <form action="{{url_for('viewAppointments')}}">
                <button type="submit" class="btn btn-primary">book now</button>
            </form>
        </td>
          
        </tr>
      {% endfor %}
    </tbody>
<!-- </table>  -->
{%block viewbutton%}
{%endblock%}
{%endblock%}



